<div class="main">
    <div class="container">
    <h1>Create and share Stories</h1>
    <button>Learn more</button>
    </div>
</div>
<div class="supportive">
<h1>Relive and share your adventures</h1>
<p>Stories automatically creates a digital journal filled with only your best photos.</p>

</div>
<div class="secondary">
<h1>Third section</h1>
</div>
<div class="discover">  </div>
<div> 
<h3>Discover the potentials</h3>
<button>See what is more!</button>
 </div>