<div class="main">

    <div class="containeer">
      <div id="section1">
        <h1>Create and share Stories</h1>
          <button class="btn btn-primary btn-lg">Learn more</button>
      </div>
      
    </div>
</div>
  <div class="supportive">
      <h1>Relive and share your adventures</h1>
      <p>Stories automatically creates a digital journal filled with only your best photos.</p>

  </div>
<div class="secondary">

</div>
<div class="discover">
    <div class="discover-sub">
    <h1>Discover the potentials</h1>
    <button class="btn btn-primary btn-lg">See what is more!</button>
    </div>

 </div>