<div class="main">
 <nav class="navbar  navbar-light bg-light">
  
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
       <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
     
    </ul>
    
  </div>
</nav>
    <div class="containeer">
      <div id="section1">
        <h1>Create and share Stories</h1>
          <button class="btn btn-primary btn-lg">Learn more</button>
      </div>
      
    </div>
</div>
  <div class="supportive">
      <h1>Relive and share your adventures</h1>
      <p>Stories automatically creates a digital journal filled with only your best photos.</p>

  </div>
<div class="secondary">

</div>
<div class="discover">
    <div class="discover-sub">
    <h3>Discover the potentials</h3>
    <button class="btn btn-primary btn-lg">See what is more!</button>
    </div>

 </div>