<div class="main2 navi">
  <nav class="navbar  navbar-light">
  
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
     <%= link_to "Home", "home"%>
       
      </li>
      <li class="nav-item">
      <%= link_to "Learn More", "about"%>
        
      </li>
       <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
     
    </ul>
    
  </div>
</nav>
<h1>Relive your favorite memories</h1>

</div>
<div class="support-2">
<h1>
No more sorting through photos
</h1>
<p>Stories automatically finds your best photos and creates a new travelogue. This way you can capture and share your special moments in fresh new ways.</p>
<button class="btn btn-info btn-lg">Sign Up</button>

</div>